form{
    background-color: black;
    margin: auto;
    color: white;
    width: 60%;
    padding: 30px;
}
.c1{
  display: inline-flex;
}
button{
    width: 70px;
    border-radius: 5px;
}
input[type=password],input[type=text],input[type=tel],input[type=email]{
    width: 50%;
    height: 30px;
margin-left: 70px;
}
.c1{
    margin-top: 10px;
}
label{
    width: 120px;
    display: inline-block;
    padding-left: 50px;
}
